
.encabezado {
    background-color:rgba(0,0,0,.20);
    color: rgba(157, 74, 168, 0.6);
    font-size: 30px;
}

.encabezado2 {
  background-color:rgba(0,0,0,.20);
  color: rgba(241, 176, 250, 0.6);
  font-size: 18px;
  margin: 35px;
}

.body2 {
  background-image: url(Imagenes/wallpaper3.jpg);
  
}

.headercontacto {
    display: flex;

    flex-flow: column;

    flex-flow: nowrap;
    
    background-color:rgba(0,0,0,0);
    
    height: 20px;

    background-position-x: left;
    
    background-position-y: left;

    background-attachment: contain;

    background-size: 100% 100%;

    margin-top: 100px;

    align-content: center;

    align-items: center;

    color: rgba(241, 176, 250, 0.6);;

    font-size: 30px;

    text-decoration-color: rgba(241, 176, 250, 0.6);;
}

.bigicon {
    font-size: 30px;
    color: rgba(175, 84, 187, 0.75);
}

.container {
    position:absolute;
    margin:center;
    padding:center;
    border:center;
}

.col-md-8
{
    background-color:  rgba(34, 4, 37, 0.2)
}

.body2 {
    background-image: url(Imagenes/wallpaper3.jpg);
}

.col-md-12 {
    margin: 100px;
}

.btn btn-primary{
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(157, 74, 168, 0.6);
    border: none;
    color: silver;
    text-align: center;
    font-size: 28px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 4px;
    background-color:  rgba(157, 74, 168, 0.6);
    border: none;
    text-align: center;
    font-size: 28px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  
}

.button1 {
        display: inline-block;
        border-radius: 4px;
        background-color: rgba(157, 74, 168, 0.6);
        border: none;
        color: silver;
        text-align: center;
        font-size: 28px;
        transition: all 0.5s;
        cursor: pointer;
    }

    .button1 {
        border-radius: 4px;
        background-color:  rgba(157, 74, 168, 0.6);
        border: none;
        text-align: center;
        font-size: 28px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
      }
      
      .button1 span {
        cursor: pointer;
        transition: 0.5s;
      }
      
      .button1 span:after {
        content: '\00bb';
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button1 :hover span {
        padding-right: 65px;
      }
      
      .button1 :hover span:after {
        opacity: 1;
        right: 0;
      }